<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Events
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../../../assets/css/material-kit.css?v=2.0.4" rel="stylesheet" />
  <link href="../../../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
          Events </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="" target="_blank" data-original-title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="" target="_blank" data-original-title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" data-parallax="true" [style]="getStyle()">  
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">{{event.name}}</h1>
          <h4>Our event management system is robust and flexible enough to meet all your needs.</h4>
          <br>

        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Organise Events With Ease</h2>
            <h5 class="description">Are your event details scattered across lots of spreadsheets, emails and apps?
               Are you struggling to keep organisers and atendees  on the same page?
               Our website is your answer, with integrated tools that are built to simplify how you plan events.</h5>
          </div>
        </div>
      </div>
  
<div class="section text-center">
  <div class="container">
      <table class="table">
          <tr>
              <td class="col-md-8"><h3>{{event.name}}</h3></td>
          </tr>
          <tr>
                  <td class="col-md-8"><h4>{{event.club}}</h4></td>
          </tr>
          <tr>
            <td class="col-md-8">{{event.category}}</td>
          </tr>
          <tr>
                  <td class="col-md-8"><i class="material-icons">access_time</i> <b>Date:</b> {{event.date}} {{event.start_time}} to {{event.end_time}}</td>
          </tr>
          <tr>
            <td class="col-md-8"><i class="material-icons">place</i><B>Venue:</B> {{event.venue}}</td>
          </tr>
          <tr>
            <td class="col-md-8"><h3>Event description</h3>{{event.event_desc}}</td>
          </tr>
          <tr>
            <td class="col-md-8"><h3>Organizer description</h3>{{event.org_desc}}</td> 
        </tr>
        <tr>
          <td class="col-md-8"><B>Max registrations : </B>{{event.max_registrations}}</td>
        </tr>
        <tr>
          <td class="col-md-8"><B>Current Registrations : </B>{{event.cur_registrations}}</td>
        </tr>
        <tr>
          <td class="col-md-8"><a class="btn btn-success" style="background-color: blue; color: white" *ngIf="!isRegistered()" (click)="onRegister()">Register</a></td>
          <td class="col-md-8"><a class="btn btn-success" style="background-color: blue; color: white" *ngIf="isRegistered()" (click)="onUnRegister()">Unregister</a></td>
          <td class="col-md-8"><a class="btn btn-success" style="background-color: red" *ngIf="curOrganizer" (click)="onDelete()">Delete</a></td>
          <td class="col-md-8"><a class="btn btn-success" style="background-color: grey" (click)="goBack()">Back</a></td>
        </tr>
      </table>
  </div>
</div>


<div fxLayout = "column" *ngIf="event" fxLayoutGap="20px">
  <div fxFlex>
    <h3>Comments</h3>
  </div>

  <div fxFlex *ngFor = "let c of event.comments">
    {{c.comment}}<br>
    {{c.rating}} Stars<br>
    --{{c.author}}, {{c.date | date}} 
  </div>

  <div fxFlex *ngIf="commentForm.valid">
      {{commentForm.value.comment}}<br>
      {{commentForm.value.rating}} Stars<br>
      --{{commentForm.value.author}}
  </div>

  <div fxFlex>
    <h3>Add a comment ...</h3>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size">
    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider formControlName="rating" min="1" max="5" step="1" value="1" thumbLabel tickInterval="1" style="color: yellow"></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your comment" rows=5 required></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
  </div>
</div>


    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="../../../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../../../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../../../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../../../assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="../../../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--	Plugin for Sharrre btn -->
  <script src="../../../assets/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../../../assets/js/material-kit.js?v=2.0.4" type="text/javascript"></script>
</body>

</html>